# OS and Project files
.DS_Store
/assets/
/app/node_modules/
/app/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/app/test/unit/coverage/
/app/test/e2e/reports/
selenium-debug.log
moodle

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
